<!DOCTYPE html>
<html>
<head>
<title>Exception handling demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://raw.githubusercontent.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="app.js"></script>
<script src="maincontroller.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app='MyTutorialApp' ng-controller='MainController'>
	<div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<div class="row">
		<div class="col-md-2">Webservers</div>
		<div class="col-md-2">Databases</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat='webserver in webservers'>{{webserver}}
					<button type="button" class="btn btn-primary btn-xs" ng-click='showWebserver(webserver)'>show</button>
				</li>
			</ul>
		</div>
    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat='database in databases'>{{database}}
          <button type="button" class="btn btn-primary btn-xs" ng-click='showDatabase(database)'>show</button>
        </li>
      </ul>
    </div>
		
	</div>
	
	<div class="row">
		<div class="col-md-12">{{details}}</div>
	</div>
</body>
</html>
